@import url("ec_base.css");
body {
  background-color: #E5E4D8;
}
div.bodywrapper {
  margin: 0 40px 0 270px;
}
div.body {
  margin-top: 2em;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
div.footer {
  margin: 20px 20px 10px 20px;
  color: #A28;
}

div.links { position: absolute; padding: 7px; }

div.related1 {
  color: white;
  text-shadow: 1px 2px 3px #050;
  font-size: 30pt;
  padding: 10px 10px 10px 10px;
  background: #1C3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 4px solid #193;
  border-right: 1px solid #193;
  
  margin-left: 250px;
  margin-right: 20px;
  font-weight: bold;
  text-align: center;
  width: auto;
}
div.related1 a { text-decoration: none; color: white; }
div.related1 a:hover{ text-decoration: underline; }
.smallify {
  font-size: smaller;
  color: #BFB;
}
div.related1 .smallify a {
  color: #BFB;
}
div.related2 {
  font-size: 100%;
}

div.sphinxsidebar {
  font-size: 100%;
  margin-left: 0px;
  background-color: white;
  border-bottom: 4px solid #E0B5B0;
  border-bottom-right-radius: 15px;
  padding-bottom: 30px;
}
div.sphinxsidebarwrapper h3 {
  padding-top: 20px;
  color: #A28;
}
div.sphinxsidebar ul {
  margin: 10px;
  padding: 0;
}
div.sphinxsidebar a { text-decoration: none; color: #A28; }
div.sphinxsidebar a:hover{ text-decoration: underline; }

h1 a { text-decoration: none; }
h2 a { text-decoration: none; }

a { text-decoration: underline; color: #3B4; }
a:hover{ color: #5C6; }

h1, h2 {
  display: inline-block;
  background-color: #5C6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: -40px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  border-radius: 5px;
  border-bottom: 3px solid #193;
  text-shadow: 0px 1px 3px #061;
}
h1 { margin-bottom: 4px; }
h1 a, h2 a { text-decoration: none; color: white; }
h1 a:hover, h2 a:hover { text-decoration: underline; color: white; }

.post-box {
  border-right: 1px solid #E0B5B0;
  border-bottom: 4px solid #E0B5B0;
  background-color: white;
  border-radius: 15px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.body>.section:first-of-type {
  border-right: 1px solid #E0B5B0;
  border-bottom: 4px solid #E0B5B0;
  background-color: white;
  border-radius: 15px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
}
/*.body>.section:first-of-type>p:first-of-type {
  padding-top: 20px;
}
h1+p, h2+p, .post-date+p, h1+.figure, h2+.figure, .post-date+.figure {
    margin-top: 30px;
}
*/
.section {
  margin-bottom: 35px;
}

.in-category {
  color: #AAA;
  float: right;
  text-align: right;
  max-width: 40%;
  margin-left: 1em;
}
.in-category a { color: #AAA; text-decoration: none; }
.in-category a:hover { text-decoration: underline; }

h3 { color: rgb(113, 209, 129); }

div.sphinxsidebar input {
  border: 1px solid #A28;
}

h3, div.body p, div.body dd {
  text-align: justify;
  max-width: 40em;
}
div.body li {
  text-align: justify;
  max-width: 37em;
}

.highlights {
  background-color: #E5E4D8;
  border-radius: 15px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  max-width: 40em;
  text-align: justify;
}

.comments {
  border-top: 2px dashed #E0B5B0;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 2em;
  max-width: 38em;
}

table.docutils {
  margin-bottom: 15px;
}

.section img {
  max-width: 820px;
}

.bottom {
  color: gray;
  text-align: center;
  margin-left: 240px;
}
